html,
html.wf-active body,
html.wf-active .content .page h2 em
{ font-family: myriad-pro;}

html.wf-active .header .m1 a,
html.wf-active .header .player .moar,
html.wf-active .content .page h2,
html.wf-active .carouselcontrol a.title,
html.wf-active .content .dlz a strong
{font-family: myriad-pro-condensed, Helvetica, Arial, sans-serif;}


html.wf-active .header .m1 a{font-size: 22px; line-height: 22px;}
html.wf-active .header .m1 .m2 a{font-size: 14px; line-height: 14px;}

html.wf-active .header .player .moar{font-size: 14px;}

html.wf-active .content .page h2{font-size: 34px; line-height: 24px;}

html.wf-active .carouselcontrol a.title{font-size: 24px; line-height: 24px;}

html.wf-active .content .dlz a strong{font-size: }

html.wf-active .content .dlz a strong{font-size: 32px; line-height: 36px;}